<%- include("./Partes/Cabecera.ejs") %>

    <div class="container-fluid py-6 my-6 mt-0 " style="background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(../img/FondoEscritorio55.png) center center no-repeat;
            background-size: cover; " data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">Programar Envio de Mensajes</h1>
        </div>
    </div>

    <!-- Page Header End -->
    <div class="container text-center"style="margin-bottom: 100px;">
        <div class="row  mt-2">
            <h1 class="mb-4" >Saldo Disponible <%=saldo%>
            </h1>
        </div>
        <div class="row  mt-2">
            <h1 class="mb-4">Ingresa los campos para programar envio.</h1>
            <button id="btnadd" class="btn btn-dark  py-3 mb-3">Presiona aquí para añadir campos de envio</button>
        </div>
        
        <!--Formulario para buscar en la base datos POST-->
        <form action="/enviarmasivo" method="POST">
            <div id="contenedor" class="container">
                <!--generar inputs-->
            </div>
            <input style="display: none" id="val" name="val" value="0">
            <input style="display: none" id="saldo" name="saldo" value="<%=saldo%>">
            <div id="todo" class="container text-center">
                <div class="row  mt-2">
                    <div class="form-group col m-2">                        
                            <p style="color:black">Seleccione chip de origen:</p>
                            <select id="puerto" name="puerto">
                                <option value="gsm-1" >gsm-1
                                <option value="gsm-2" >gsm-2
                                <option value="gsm-3" >gsm-3
                                <option value="gsm-4" selected>77487798</option>
                            </select>                        
                    </div>
                </div>
                    <div class="form-group col m-2" style="word-wrap: break-word;">   
                        <p style="color:black">Seleccione mensaje:</p>
                            <select id="mensaje" name="mensaje" cstyle="width:10px">
                                <%for(var i=0;i<mensajes.length;i++){%>
                                    <option value="<%=mensajes[i]._id%>">
                                        <%=mensajes[i].Mensaje%>
                                    </option>
                                    <%}%>
                            </select>                        
                    </div>
                    
                
            </div>
            <div id="contmsg">
                
            </div>
            <div class="row  mt-2">
                <button class="btn btn-dark w-100 py-3">Enviar Mensajes</button>
            </div>
        </form>
    </div>
    <!-- Footer End -->

    <script>
        const container = document.querySelector('#contenedor')
        const btnaddinput = document.querySelector('#btnadd')
        const val = document.querySelector('#val')

        let total = 0;

        btnaddinput.addEventListener('click', e => {
            total++;
            let div = document.createElement('div');
            div.innerHTML = `<div class="row  mt-2">
                    <div class="form-group col">
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="masagencia"
                                placeholder="Ingresa la agencia">
                        </div>
                    </div>                    
                    <div class="form-group col">                    
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="porcentaje"
                                placeholder="Ingresa el porcentaje">
                        </div>
                    </div>
                </div>`;
            val.value = total
            console.log("pintando cajas")
            container.appendChild(div);
        

        })
    </script>

    <%- include("./Partes/Piedepag.ejs") %>