<%- include("./Partes/Cabecera.ejs") %>

    <div class="container">
        <% if(datos!="no" ){%>
            <table class="table" style="margin-bottom: 100px;">
                <thead class="table-dark">
                    <th>#</th>
                    <th>codigo</th>
                    <th>nombre</th>
                    <th>numero</th>
                    <th>agencia</th>
                </thead>
                <tbody>
                    <%for(var i=0;i<datos.length;i++){%>
                        <tr>
                            <td>
                                <%=i+1%>
                            </td>
                            <td>
                                <%=datos[i].Codigo%>
                            </td>
                            <td>
                                <%=datos[i].Nombre%>
                            </td>
                            <td>
                                <%=datos[i].Numero%>
                            </td>
                            <td>
                                <%=datos[i].Agencia%>
                            </td>
                        </tr>
                        <%}%>
                </tbody>
            </table>
            <%}%>
    </div>
    <form action="/parar" method="POST">
        <div class="container">
            <div class="row  mt-2">
                <button class="btn btn-dark w-100 py-3">Detener Envio</button>
            </div>
        </div>

    </form>
    <!-- Contenido End -->

<%- include("./Partes/Piedepag.ejs") %>