<%- include("./Partes/Cabecera.ejs") %>

    <!-- Page Header Start -->
    <div class="container-fluid py-6 my-6 mt-0 " style="background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(../img/FondoEscritorio55.png) center center no-repeat;
            background-size: cover; " data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">Mensajes De Publicidad</h1>
        </div>
    </div>
    <!-- Page Header End -->            
    <table class="table">
        <thead class="table-dark">
            <th>#</th>
            <th>mensaje</th>            
            <th>borrar</th>
        </thead>
        <tbody>
            <%for(var i=0;i<mensajes.length;i++){%>                
                <tr>
                    <td><%=i+1%></td>
                    <td><%=mensajes[i].Mensaje%></td>
                    <td><a href="/eliminarmensaje/<%=mensajes[i]._id%>">Eliminar</a></td>
                </tr>                                             
            <%}%>
        </tbody>
    </table>
    
    <div class="container-xxl py-6">
        <a href="/crearmensaje" class="btn btn-dark w-100 py-3">Crear Mensaje</a>
    </div>
        
<%- include("./Partes/Piedepag.ejs") %>